/* 
    Created on  : Dec 22, 2017
    Last update : Jan 11, 2018
    Author      : Eduard Munteanu
*/
@charset "utf-8";

body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: #DCDCDC;
}

footer {
    background-color: #F9F9F9;
    height: 55px; /* Die gleiche Höhe wie die Navigation */
    position: relative;
    width: 1100px;
}

footer p {
    color: #5F524E;
    text-align: center;
    font-size: 12px;
    padding: 21px;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

li a {
    background-color: #F9F9F9;
    color: #5F524E;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    padding: 20px 25px;
    transition: 0.2s linear;
    /* height: 55px; <-- Das ist die Höhe der Navigation */
}

li a:hover {
    background-color: #1F98BB;
    color: #F9F9F9;
    transition: background-color 0.2s linear;
}

p {
    font-size: 14px;
    margin: 0px;
}

ul {
    background-color: #F9F9F9;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    height: 55px;
}

.content {
    height: calc(100vh - 130px); /* 100vh - 55x2 (Höhe von Nav und Footer) - 20 (margin von .content) */
    padding: 10px;
    position: relative;
}

.align-right {
    float: right;
}

.textbtn {
    color: #0F00D1;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

#active {
    text-decoration: none;
    background-color: #1F98BB;
    color: #F9F9F9;
}

#container {
    background-color: #F0F0F0;
    position: relative;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 400px;
    font-size: 13px;
}