/* 
    Created on  : Dec 22, 2017
    Last update : Jan 11, 2018
    Author      : Eduard Munteanu
*/
@charset "utf-8";

body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
    background-color: #DCDCDC;
}

footer {
    background-color: #F9F9F9;
    height: 56px; /* Die gleiche Höhe wie die Navigation */
    position: relative;
    width: 1100px;
}

footer p {
    color: #5F524E;
    font-size: 12px;
    text-align: center;
}

h1 {

}

h2 {

}

h3 {

}

li a {
    background-color: #F9F9F9;
    color: #5F524E;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    padding: 20px 25px;
    transition: 0.2s linear;
    /* height: 56px; <-- Das ist die Höhe der Navigation */
}

li a:hover {
    background-color: #1F98BB;
    color: #F9F9F9;
    transition: background-color 0.2s linear;
}

p {

}

ul {
    background-color: #F9F9F9;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

#active {
    text-decoration: none;
    background-color: #1F98BB;
    color: #F9F9F9;
}


#container {
    background-color: #F0F0F0;
    position: relative;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 400px;
    font-size: 13px;
}

#content {
    position: relative;
    margin: 5px;
    height: calc(100vh - 138px);
}

.align-right {
    float: right;
}